*{
	margin:0px;
	padding:0px;	  
}

   
		

body{
	text-align:center;
	background-image:url(../img/c1.jpeg);
	
	}


.v{
	color:red;
	font-style: italic;
}

.uno{
color:#FF4500;
 font:bold 35px Z5,verdana,sans-serif;

}

.dos{
 color:white;
 font:bold 20px Z5,verdana,sans-serif;
}


#cleopatra{
 
 text-align:center;
}

h3{
	color:black;
	margin-right:80px;
 font:bold 40px Z5,verdana,sans-serif;
}
	
.a{
	color:black;
 font:bold 25px Z5,verdana,sans-serif;
 border-radius:5px;
 padding:20px;
 


}

	
.b{
	color:purple;
	font:bold 20px Z5,verdana,sans-serif;
 	float: center;
	cursor:pointer;
	margin-left:100px;
	margin-top:-300px;

}

	
.c{
	
 width:300px;
 height:35px;
 border-radius:20px;
margin-bottom:50px;

}

.c1{
	
 width:300px;
 height:35px;
 border-radius:20px;
margin-bottom:50px;
margin-left:20px;

}



.d{
 color:white;
 width:280px;
 height:30px;
 border-radius:20px;
 margin-left:-20px;

}

.e{
	color:purple;
 font:bold 20px Z5,verdana,sans-serif;
	cursor:pointer;
	margin-right:200px;
	margin-top:-20px;

}

.x{
	color:black;
	font:bold 25px Z5,verdana,sans-serif;
	margin-right:300px;
	
}

.x1{
	
 width:300px;
 height:35px;
 border-radius:20px;
margin-left:40px;


}
.z{

color:black;
 font:bold 25px Z5,verdana,sans-serif;
 margin-right:10px;

	
}

.z1{
	
 width:300px;
 height:35px;
 border-radius:20px;
margin-left:40px;


}


.z3{

 
width:100px;
 height:35px;
 border-radius:20px;
 margin-left:20px;
 font:bold 20px Z5,verdana,sans-serif;
background:#687CEEB;
cursor:pointer;




}

.z4{

 width:100px;
 height:35px;
 border-radius:20px;
 margin-top:-500px;
margin-left:100px;
 font:bold 20px Z5,verdana,sans-serif;
background:#687CEEB;
cursor:pointer;



}



.p1{
	height:100px;
	width:200px;
	margin-left:20px;
	margin-top:20px;

}

.k1{
	 font:bold 40px Z5,verdana,sans-serif;
	margin-top:-70px;
	color:white;
}

.k2{
height:2px;
width:400px;
margin-left:400px;
color:white;	
}

.rz1{
color:white;
font:bold 30px Z5,verdana,sans-serif;
margin-right:30px;

}

.u1{
width:300px; 
height:35px;
border-radius:10px;
margin-right:80px;

}

.rz2{
color:white;
font:bold 30px Z5,verdana,sans-serif;
margin-right:30px;

}

.u2{
	
 width:300px;
 height:35px;
 border-radius:10px;
margin-bottom:30px;
margin-right:50px;


}

.rz3{
color:white;
font:bold 30px Z5,verdana,sans-serif;
margin-left:-80px;

}

.u3{
width:300px; 
height:35px;
border-radius:10px;
margin-left:30px;

}

.




