*{
	margin:0px;
	padding:0px;	  
}

   
body{
	text-align:center;
	background-image:url(../img/s2.jpg);
	}


.v{
	color:red;
	font-style: italic;
}

.uno{
color:#FF4500;
 font:bold 35px Z5,verdana,sans-serif;

}

.dos{
	color:white;
 font:bold 20px Z5,verdana,sans-serif;
}


#cleopatra{
 
 text-align:center;
}

h3{
	color:black;
	margin-right:80px;
 font:bold 40px Z5,verdana,sans-serif;
}
	
.a{
 color:black;
 font:bold 30px Z5,verdana,sans-serif;
 border-radius:5px;
 


}
.a1{
 color:black;
 font:bold 30px Z5,verdana,sans-serif;
 border-radius:5px;
margin-right:16px;
padding:-2px;
 


}
.a2{
 color:black;
 font:bold 30px Z5,verdana,sans-serif;
 border-radius:5px;
margin-right:-100px;
padding:50px;
 


}

.k{
	width:350px;
	background-color:black;
	height:2px;
	margin-left:-50px;

}

	
.b{
	color:purple;
	font:bold 20px Z5,verdana,sans-serif;
 	float: center;
	cursor:pointer;
	margin-left:100px;
	margin-top:-300px;

}

	
.c{
	
 width:300px;
 height:35px;
 border-radius:20px;
margin-bottom:50px;

}

.c1{
	
 width:300px;
 height:35px;
 border-radius:20px;
margin-bottom:50px;
margin-left:100px;

}
.c2{
	
 width:300px;
 height:35px;
 border-radius:20px;
margin-left:30px;


}



.d{
	color:white;
 width:200px;
 height:25px;
 border-radius:20px;

}

.e{
	color:purple;
 font:bold 20px Z5,verdana,sans-serif;
	cursor:pointer;
	margin-right:200px;
	margin-top:-20px;

}

.x{
	color:black;
	font:bold 25px Z5,verdana,sans-serif;
	margin-right:300px;
	
}

.x1{
	
 width:300px;
 height:35px;
 border-radius:20px;
margin-left:40px;


}
.z{

color:black;
 font:bold 25px Z5,verdana,sans-serif;
 margin-right:10px;

	
}

.z1{
	
 width:300px;
 height:35px;
 border-radius:10px;
margin-left:40px;


}


.z3{

 
width:100px;
height:35px;
border-radius:20px;
font:bold 20px Z5,verdana,sans-serif;
background:#E0FFFF;
cursor:pointer;



}

.z4{

width:100px;
height:35px;
border-radius:20px;
font:bold 20px Z5,verdana,sans-serif;
background:#E0FFFF;
cursor:pointer;
margin-left:150px;



}


.p1{
	height:100px;
	width:200px;
	margin-left:20px;
	margin-top:20px;

}

.ami{
	background-color:white;
	height:2px;
	width:600px;
   text-shadow: 3px 3px 2px #000000;

}

.q1{
 color:white;
 font:bold 30px Z5,verdana,sans-serif;
 border-radius:5px;
margin-right:16px;
text-shadow: 3px 3px 2px #000000;



}

.q2{
 color:white;
 font:bold 30px Z5,verdana,sans-serif;
 border-radius:5px;
 margin-left:90px;
 text-shadow: 3px 3px 2px #000000;


}
.q3{
 color:white;
 font:bold 30px Z5,verdana,sans-serif;
 border-radius:5px;
 margin-left:90px;
 text-shadow: 3px 3px 2px #000000;



}

.z2{	
 width:300px;
 height:35px;
 border-radius:10px;
margin-left:50px;


}
.o{
	
 width:300px;
 height:35px;
 border-radius:10px;
 margin-left:50px;


}
.w1{
 color:white;
 font:bold 30px Z5,verdana,sans-serif;
 border-radius:5px;
margin-right:16px;
 

}

.y1{
 width:300px;
 height:35px;
 border-radius:20px;
margin-left:5px;


}

.w2{
 color:white;
 font:bold 30px Z5,verdana,sans-serif;
 border-radius:5px;
margin-left:10px;
 

}

.y2{
 width:300px;
 height:35px;
 border-radius:20px;
margin-left:25px;


}

.w3{
 color:white;
 font:bold 30px Z5,verdana,sans-serif;
 border-radius:5px;
 margin-left:-50px;


}

.y3{
 width:300px;
 height:35px;
 border-radius:20px;
margin-left:25px;


}

.u{
 color:white;
 font:bold 30px Z5,verdana,sans-serif;
 text-align:center;
 margin-top:170px;
 margin-left:200px;
 margin-top:180px;
}

.ao{
	width:400px;
	background-color: white;
	height:2px;
	margin-left:450px;
	margin-top:25px;
}

.ws{
	color:white;
   text-shadow: 3px 3px 2px #000000;

}



